body {
    margin: 0;
    height: 100vh;
    background-image: url(/static/bg/form.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: left;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Kalam', cursive;
    color: white;
}

.container form {
    margin-left: 5px;
}

.container div {
    padding: 2px;
    word-wrap: normal;
}

.container a {
    color: white;
    text-decoration: none;
    text-underline-offset: 3px;
}

.container a:hover {
    text-decoration: underline;
}

/* .container .directory {
    
} */

@media only screen and (max-width: 800px) {
    .container {
        flex-direction: row;
    }
}