body {
    margin: 0;
    font-family: 'Kalam', cursive;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(/static/bg/form.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(7px) brightness(60%) opacity(0.8);
}

.container {
    display: flex;
    justify-content: left;
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Kalam', cursive;
    color: white;
}

.container form {
    margin-left: 5px;
}

.container div {
    padding: 2px;
    word-wrap: normal;
}

.container a {
    color: white;
    text-decoration: none;
    text-underline-offset: 3px;
}

.container a:hover {
    text-decoration: underline;
}

.directory .title {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }
}