body {
    margin: 0;
    font-family: 'Kalam', cursive;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background-image: url(/static/bg/form.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(7px) brightness(60%) opacity(0.8);
}

a {
    color: white;
    text-decoration: none;
    text-underline-offset: 3px;
}

a:hover {
    text-decoration: underline;
}

#operation {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    width: 100%;
    position: sticky;
    top: 0;
}

#operation * {
    display: inline-block;
    margin: 20px 0 20px 20px;
}

.directory_container {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.directory_container>.directory {
    padding: 0;
    margin: 0;
    flex-basis: 300px;
    flex-shrink: 1;
}

.directory_container>.directory>div {
    padding: 8px;
}

.directory_container>.directory>.name_section {
    background-color: rgba(255, 255, 255, 0.3);
}

.directory_container>.directory>.name {
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.directory_container>.directory>.piece {
    height: 220px;
}

.directory_container>.directory>.piece>.title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.directory_container>.directory>.piece>img {
    margin-top: 10px;
    height: 70px;
    max-width: 260px;
    box-shadow: 0 3px 5px rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 600px) {
    .directory_container {
        flex-direction: column;
    }
    .directory_container>.directory {
        flex-basis: 0;
    }
    .directory_container>.directory>.name_section {
        cursor: pointer;
    }
}