html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

body#index {
    background-image: url(/static/bg/index.jpg);
    background-position: bottom;
    backdrop-filter: blur(1px) brightness(90%);
    animation: bg-blur-index;
    animation-duration: 3s;
}

body.form {
    background-image: url(/static/bg/form.jpg);
    background-position: center;
    backdrop-filter: blur(5px);
    animation: bg-blur-form;
    animation-duration: 2s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    margin: 10px 20px 0 10px;
}

li a {
    display: block;
    background-color: #dddddd00;
    text-decoration: none;
    color: white;
}

li a:hover {
    text-decoration: underline;
    color: #cacaca;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #cacaca;
}

/* for login page and register page */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.container form {
    padding: 12vh 12vw;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 16px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 1px rgba(0, 0, 0, 0.19);
    transition: 0.1s ease;
}

.container form:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container #links {
    margin-top: 20px;
}

.container a {
    text-decoration: none;
    color: black;
}

.container a:hover {
    text-decoration: underline;
}

#main {
    margin-left: 100px;
}

#title {
    text-align: left;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 1em 1em 0px 10px;
}

#content {
    text-align: left;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: white;
}

#start-button {
    display: block;
    width: 10rem;
    background-color: #0236b9;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 10rem;
    padding: 10px 0;
}

#start-button:hover {
    background-color: #01437e;
}

@media only screen and (max-width: 650px) {
    #main {
        margin-left: 40px;
        margin-right: 20px;
    }
}

@keyframes bg-blur-index {
    from {
        backdrop-filter: blur(3px);
    }
    to {
        backdrop-filter: blur(1px) brightness(90%);
    }
}

@keyframes bg-blur-form {
    from {
        backdrop-filter: blur(2px);
    }
    to {
        backdrop-filter: blur(5px);
    }
}