{% extends "dashboard_base.html" %}

{% block title %}News{% endblock %}

{% block main_content %}
<div class="container">
    <div class="container">
        <form action="/dashboard/" method="post">
            {{ form.csrf_token }}
            <div class="field">
                {{ form.directory_name }}
            </div>
            <div class="field">
                {{ form.public }}
            </div>
            <div class="field">
                {{ form.submit }}
            </div>
        </form>
    </div>
    <div class="container">
        {% for directory in directories %}
        <div class="directory">
            <div>
                <b>{{ directory["name"] }}</b>
                <button class="add" id="{{ directory['id'] }}" onclick="addKeyword(this.id)">Add</button>
                <button class="remove" id="{{ directory['id'] }}" onclick="deleteDirectory(this.id)">Delete</button>
            </div>
            <div>
                {% for keyword in directory["keywords"] %}
                <div class="keyword">{{ keyword }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}