{% extends "dashboard_base.html" %}

{% block title %}News{% endblock %}

{% block main_content %}
<div class="container">
    <div>
        <form action="/dashboard/" method="post">
            {{ form.csrf_token }}
            <div class="field">
                {{ form.directory_name }}
            </div>
            <div class="field">
                {{ form.public }}
            </div>
            <div class="field">
                {{ form.submit }}
            </div>
        </form>
    </div>
    {% for directory in directories %}
    <div class="directory">
        <b>{{ directory["name"] }}</b>
        {% for keyword in directory["keywords"] %}
        <span>{{ keyword }}</span>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}