{% extends "form_base.html" %}
{% from 'msg.jinja' import display_msg %}

{% block title %}Login{% endblock %}

{% block main_content %}
<div class="container">
    <div>{{ display_msg(messages) }}</div>
    <form action="/login" method="POST">
        {{ form.csrf_token }}
        <div class="field">
            {{ form.username }}
        </div>
        <div class="field">
            {{ form.password }}
        </div>
        {{ form.submit }}
        <div id="links">
            <a href="/register">Register</a>
        </div>
    </form>
</div>
{% endblock %}