{% extends 'form_base.html' %}
{% from 'msg.jinja' import display_msg %}

{% block title %}Register{% endblock %}

{% block main_content %}
<div class="container">
    <div>{{ display_msg(messages) }}</div>
    <form action="/register" method="POST">
        {{ form.csrf_token }}
        <div class="field">
            {{ form.username }}
        </div>
        <div class="field">
            {{ form.password }}
        </div>
        <div class="field">
            {{ form.repeat_password }}
        </div>
        <div class="field">
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.language.label }}
            {{ form.language }}
        </div>
        <div class="field">{{ form.recaptcha }}</div>
        {{ form.submit }}
        <div id="links">
            <a href="/login">Login</a>
        </div>
    </form>
</div>
{% endblock %}