{% from 'msg.jinja' import display_msg %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='messages.css') }}">
    <script src="{{ url_for('static', filename='msg.js') }}"></script>
    <title>Register</title>
</head>

<body>
    <form action="/register" method="POST">
        {{ form.csrf_token }}
        <div class="field">
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div class="field">
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <div class="field">
            {{ form.repeat_password.label }}
            {{ form.repeat_password }}
        </div>
        <div class="field">
            {{ form.email.label }}
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.language.label }}
            {{ form.language }}
            <!--
            <label for="language"><b>Language:</b></label>
            <select name="language" id="language">
                <option value="en">English</option>
                <option value="zh-TW">Tranditional Chinese</option>
            </select>
            -->
        </div>
        <div class="field">{{ form.recaptcha }}</div>
        {{ form.submit }}
    </form>
    <div>{{ display_msg(messages) }}</div>
</body>

</html>